/* Общий стиль для страницы */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Тёмный фон */
    color: #e0e0e0; /* Светлый цвет текста */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Стиль для заголовка */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff; /* Белый текст */
}

header p {
    font-size: 1.2rem;
    color: #b0b0b0; /* Бледно-серый текст */
}

/* Стиль для контейнера */
.container-ma {
    text-align: center;
    margin-bottom: 50px;
}

.title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff; /* Белый цвет заголовка */
}

/* Стиль для описания */
.description {
    display: flex;
    justify-content: center; /* Центрируем кнопки по горизонтали */
    align-items: center; /* Центрируем кнопки по вертикали */
    flex-direction: column; /* Располагаем кнопки вертикально */
    gap: 20px; /* Отступы между кнопками */
}

/* Стиль для блока с кнопками */
.my_projects {
    display: flex;
    flex-direction: column; /* Кнопки расположены вертикально */
    gap: 15px; /* Отступы между кнопками */
}

/* Стиль для кнопок */
.btn {
    background-color: #333333; /* Тёмный фон кнопок */
    color: #ffffff; /* Белый цвет текста */
    font-size: 1.2rem;
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавные эффекты */
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.btn a {
    text-decoration: none;
    color: white;
}

/* Эффект при наведении на кнопку */
.btn:hover {
    background-color: #555555; /* Более светлый фон при наведении */
    transform: translateY(-3px); /* Легкое поднятие кнопки */
}

/* Стиль для футера */
footer {
    text-align: center;
    font-size: 1.1rem;
    color: #b0b0b0; /* Светлый текст в футере */
    margin-top: 50px;
}

footer a {
    color: #00ffb2; /* Желтый цвет для ссылок */
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff; /* Белый цвет ссылки при наведении */
}

.container h1{
    margin-left: 24%;
    font-weight: bold;
}
