body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
}

header p {
    font-size: 1.2rem;
    color: #b0b0b0;
}

.container-ma {
    text-align: center;
    margin-bottom: 50px;
}

.title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.my_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.btn {
    background-color: #333333;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: #555555;
    transform: translateY(-3px);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: rgba(18, 18, 18, 0.9);
    color: #b0b0b0;
}

footer a {
    color: #00ffb2;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}

footer a:hover {
    color: #ffffff;
}

.container h1 {
    margin-left: 45%;
    margin-bottom: 50px;
    font-weight: bold;
}
